<.waw_page_error url="https://tag-ip.com">
  <:background_image>
    <div class="test w-full h-full">
    </div>
  </:background_image>
  <:actions>
    <.link navigate={~p"/"}>
      Revenez à la base
    </.link>
  </:actions>
</.waw_page_error>